body {
  margin: 0;
}

.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.root__auth-container {
  height: 350px;
  width: 300px;
  box-shadow: 2px 5px 10px deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
}

.auth-container__auth-form {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-form__form-name {
  margin-bottom: 20px;
  font-size: 30px;
}

.auth-form__login-input {
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px rgb(233, 2, 2) solid;
  outline: none;
  text-align: center;
}

.auth-form__submit-button {
  font-size: 20px;
}

.chat-form__message-input {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 5px 10px deepskyblue;
  outline: none;
}

.chat-form__submit-button {
  width: 82px;
  height: 35px;
  margin-left: 10px;
  color: white;
  background-color: green;
  border-radius: 10px;
  border: solid 1px cornflowerblue;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #999;
}

.chat-form__submit-button:hover {
  background-color: #3e8e41;
}

.chat-form__submit-button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  box-shadow: 2px 5px 10px deepskyblue;
}

.chat-section__chat-window {
  height: 500px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 2px 5px 10px deepskyblue;
  background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
}

.chat-window__chat-form {
  text-align: center;
}

.chat-window__message {
  width: auto;
  padding: 5px;
  margin: 15px;
  background: rgb(104, 206, 240);
  border-radius: 10px;
  list-style-type: none;
}
